{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block Content %}
<div class='row'>
    <div class='col-md-12'>
        <div class='card p-3'>
            <div class='card-header text-dark'>
                    <div class="row">
                        <div class="col-md-3 mb-2">
                            <a class="d-grid btn btn-success btn-sm" href="{% url 'regulations-create' %}">Reglement par vol</a>
                        </div>
                        <div class="col-md-3 mb-2">
                            <a class="d-grid btn btn-primary btn-sm" href="{% url 'regulations-index' %}">Liste des reglements par vol</a>
                        </div>
                        <div class="col-md-3 mb-2">
                            <a class="d-grid btn btn-success btn-sm" href="{% url 'regulationbateaus-create' %}">Reglement par bateau</a>
                        </div>
                        <div class="col-md-3 mb-2">
                            <a class="d-grid btn btn-primary btn-sm" href="{% url 'regulationbateaus-index' %}">Liste des reglements par bateau</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


