{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0" />
  <title>Everest Finance</title>
  <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png" />
  <link rel="stylesheet" href="{% static 'assets/css/bootstrap4.min.css' %}" />
  <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}" />
  <link rel="stylesheet" href="{% static 'assets/css/feathericon.min.css' %}" />
  <link rel="stylesheet" href="{% static 'assets/plugins/morris/morris.css' %}" />
  <link rel="stylesheet" href="{% static 'assets/css/style.css'%}" />
</head>
<body>
  <div class="main-wrapper login-body">
    <div class="login-wrapper">
      <div class="container p-5 bg-warning">
          <h3>Mise à jour du mot de passe terminée</h3>
          <p>Votre mot de passe a été défini. Vous pouvez maintenant vous authentifier.</p>
            <a class="btn btn-success" href="{% url 'login' %}">Se connecter à mon compte</a>
      </div>
    </div>
  </div>
  <script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
  <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
  <script src="{% static 'assets/js/script.js' %}"></script>
</body>
</html>