{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0" />
  <title>Everest Finance</title>
  <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png" />
  <link rel="stylesheet" href="{% static 'assets/css/bootstrap4.min.css' %}" />
  <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}" />
  <link rel="stylesheet" href="{% static 'assets/css/feathericon.min.css' %}" />
  <link rel="stylesheet" href="{% static 'assets/plugins/morris/morris.css' %}" />
  <link rel="stylesheet" href="{% static 'assets/css/style.css'%}" />
</head>
<body>
  <div class="main-wrapper login-body">
    <div class="login-wrapper">
      <div class="container p-5 bg-warning">
          <h3>Message de réinitialisation du mot de passe envoyé</h3>
          <p>Nous vous avons envoyé par courriel les instructions pour changer de mot de passe, pour autant qu’un compte existe avec l’adresse que vous avez indiquée. Vous devriez recevoir rapidement ce message.</p>
          <p>Si vous ne recevez pas de message, vérifiez que vous avez saisi l’adresse avec laquelle vous vous êtes enregistré et contrôlez votre dossier de pourriels.</p>
      </div>
    </div>
  </div>
  <script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
  <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
  <script src="{% static 'assets/js/script.js' %}"></script>
</body>
</html>