<div class='row'>
    <div class='col-md-12'>
        <div class='card p-3'>
            <div class='card-header text-dark'>
                    <div class="row">
                        <div class="col-md-2 mb-2">
                            <a class="d-grid btn btn-success btn-sm" href="{% url 'rendezvous-index' %}">Liste des rendez-vous</a>
                        </div>
                        <div class="col-md-2 mb-2">
                            <a class="d-grid btn btn-primary btn-sm" href="{% url 'rendezvous-create' %}">Ajouter rendez-vous</a>
                        </div>
                        <div class="col-md-2 mb-2">
                            <a class="d-grid btn btn-success btn-sm" href="{% url 'rendezvous_du_jour' %}">Les rendez-vous du jour</a>
                        </div>
                        <div class="col-md-2 mb-2">
                            <a class="d-grid btn btn-info text-white btn-sm" href="{% url 'clientsrendezvous-create' %}">Ajouter un client</a>
                        </div>
                        <div class="col-md-2 mb-2">
                            <a class="d-grid btn btn-success btn-sm" href="{% url 'chauffeurs-create' %}">Ajouter un chauffeur</a>
                        </div>
                        <div class="col-md-2 mb-2">
                            <a class="d-grid btn btn-primary btn-sm" href="{% url 'clientsrendezvous-index' %}">Liste des clients</a>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>