<table>
    <tr><td id="entete">{{entreprise.nom}}</td></tr>
</table>
<br>
<table border="0.7" >
    <tr>
        <td style="width:20%;text-align: center;">
            <img src="media/{{entreprise.logo}}" alt="">
        </td>
        <td style="padding:5px;font-size: 10px;text-align:center">
           <span style="font-size:15px;font-weight:bold" >{{entreprise.services}}</span> <br>
             <span style="font-weight:bold">ADRESSE GUINÉE:</span>  {{entreprise.adresse_guinee}} <br>
             <span style="font-weight:bold">CONTACTS GUINÉE:</span>  {{entreprise.telephone_guinee}} <br>
             <span style="font-weight:bold">ADRESSE PARIS:</span>  {{entreprise.adresse_paris}} <br>
             <span style="font-weight:bold">CONTACTS PARIS:</span>  {{entreprise.telephone_paris}}
        </td>
    </tr>
</table>