{% extends 'base.html' %}
 {% block Content %}
<div class='row'>
	<div class='col-sm-12'>
		<div class='card'>
			
			<div class='card-body'>
				<h5>Liste des lots non embarqués</h5>
				<hr>
				<form action="" method="post">
					<div class="row">
						<div class="col-md-5">
							<label>Transporteur</label>
                            {{transporform.transporteurs}}
						</div>
						<input hidden type="text" readonly value="{{codembarquement}}" name="codembarquement" class="form-control">
						<input readonly hidden type="text" id="poidsTotal" name="poids_embarquement" class="form-control">

						<div class="col-md-5">
							<label>Agence de destination</label>
							{{transporform.agence_arrive}}
						</div>
						<div class="col-md-2">
							<div class="d-grid">
								<label style="color:white" for="">.</label>
								<input id="embarquer" type="submit" value="Embarquer" class="btn btn-success"/>
							</div>
							<span id="msg" style="color:red"></span>
						</div>
					</div>
					<hr>
					<div class='table-responsive'>
						<table class='datatable table table-bordered'>
							<thead class='thead-light'>
								<tr style="background:#d0d0d0" >
									<th style="width:10px;">Cocher</th>
									<th>Code lot</th>
									<th>Poids</th>
									<th>Date</th>
									<th>Agence</th>
									<th style="width:15%">Actions</th>
								</tr>
							</thead>
							</tbody>
								{% csrf_token %}
								{% for m in lots %}
									<tr>
										<td class="text-center">
											<input type="checkbox" class="form-check checkClass tpoids"
												value="{{m.id}}"
												name="lots[{{m.id}}][id]"
												data-poid="{{m.poids_lot}}"
												id="radio{{m.id}}"
												style="height:25px;width:25px"
											/>
										</td>
										<td>{{m.codelot}}</td>
										<td>{{m.poids_lot}}</td>
										<td>{{m.dates}}</td>
										<td>{{m.agences.libelle}}</td>
										<td class='text-center'>
											{% comment %} <a class='btn btn-success btn-sm' href='{% url 'lots-edit' m.id %}'><i class='bi bi-pencil-square'></i></a> &nbsp; &nbsp; {% endcomment %}
											<button class='delete btn btn-danger btn-sm' data-bs-toggle='modal' data-bs-target='#delete' data-href='{% url 'lots-delete' m.id %}'><i class='bi bi-trash'></i></button>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</form>

			</div>
		</div>
	</div>
</div>
{% endblock Content %}

{% block Script %}

<script>
$(document).ready(function () {
	
	$("#embarquer").click(function(e){
		poi=$("#poidsTotal").val()
		if(poi=="0 Kg" || poi==""){
			e.preventDefault()
			$("#msg").html("Veuillez selectionner un lot")
		}
	})

  $("#toutchocher").change(function () {
    var m = $(this).prop("checked");
    if (m == true) {
      $(".checkClass").prop("checked", true);
    } else {
      $(".checkClass").prop("checked", false);
    }
  });


  var poidTotal = 0;
  $(".tpoids").change(function () {
    var m = $(this).prop("checked");
    if (m == true) {
      poid = $(this).attr("data-poid");
      poidTotal += parseInt(poid);
      $("#poidsTotal").val(poidTotal+" Kg");
    } else {
      poid = $(this).attr("data-poid");
      poidTotal -= parseInt(poid);
      $("#poidsTotal").val(poidTotal+" Kg");
    }
  });
  $("#btn-lot").click(function (e) {
    $("#errpoid").html("");
    e.preventDefault();
    if (poidTotal == 0) {
      $("#modalLot").modal("hide");
      $("#errpoid").html("Veuillez selectionnez au moins un colis");
    } else {
      $("#modalLot").modal("show");
    }
  });
});
</script>
{% endblock Script %}
	
