{% extends 'base.html' %}
 {% block Content %}
<div class='row'>
	<div class='col-sm-12'>
		<div class='card'>
			<div class='card-body'>
				<h5>Liste des colis contenu dans le lot {{codelot}}</h5>
				<hr>
				<div class='table-responsive'>
					<table class='datatable table table-striped'>
						<thead class='thead-light'>
							<tr>
								<th hidden>Code</th>
								<th>Code</th>
								<th>Poids</th>
								<th>Expeditaire</th>
								<th>Destinataire</th>
							</tr>
						</thead>
						</tbody>
						{% for m in colis %}
							<tr>
								<td hidden>1</td>
								<td>{{m.colis.code}}</td>
								<td>{{m.colis.poids}}</td>
								<td>{{m.colis.expditaire}} | {{m.colis.tel_expeditaire}}</td>
								<td>{{m.colis.destinataire}} | {{m.colis.tel_destinataire}}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock Content %}
