{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Dreamchat - Dashboard</title>

    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">

    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/feathericon.min.css' %}">

    <link rel="stylesheet" href="{% static 'assets/plugins/morris/morris.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
</head>

<body>

    <div class="main-wrapper login-body">
        <div class="login-wrapper">
            <div class="container text-white text-center">
                <h1>Erreur 404 </h1>
                <p>La page que vous cherchez n'existe pas</p>
                <a class="btn btn-primary" href="{% url 'login' %}">Revenir sur le site</a>
            </div>
        </div>
    </div>


  
</body>

</html>